body {
    padding: 0;
    margin: 0;
    font-family: "Anton", sans-serif;
    color: #000000;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

h2 {
    font-size: 50px;
    margin-bottom: 58px;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.header {
    background: url("../img/header-bg.jpg") no-repeat center top / cover;
    padding-top: 57px;
}

section {
    padding-top: 113px;
}

header a {
    color: white;
}

.logo {
    margin-right: 69px;
}

.menu {
    display: flex;
}

.menu li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 0.1em;
}

.menu li {
    margin-right: 40px;
}

.tel {
    font-size: 17px;
    text-decoration: none;
    margin-left: auto;
    letter-spacing: 0.1em;
}

.nav {
    display: flex;
    align-items: center;
}

.offer {
    text-transform: uppercase;
    margin-top: 216px;
}

.offer p {
    color: #FFFFFF;
    font-size: 30px;
    letter-spacing: 0.1em;
    margin: 0;
}

.offer h1 {
    color: #FFFFFF;
    font-size: 100px;
    letter-spacing: 0.02em;
    margin-top: -9px;
    margin-bottom: 19px;
}

.btn {
    display: block;
    font-size: 17px;
    text-align: center;
    letter-spacing: 0.1em;
    padding: 17px 47px;
    border: 1px solid #FFFFFF;
    width: 238px;
    text-decoration: none;
}

.description {
    display: flex;
    justify-content: space-between;
}

.description p {
    font-family: Open Sans;
    font-weight: 400;
    text-align: justify;
}


